/* client/src/pages/CyberCrimeReportPage.css */
.cybercrime-report-page {
    text-align: center;
    
    padding: 190px;
    background: #b4cbe0;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
  }
  
  .button-container button {
    padding: 25px;
    font-size: 1.5rem;
    border: none;
    border-radius: 100px;
    color: #fff;
    background-color: #b4965b;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-container button:hover {
    background-color: #ffffff;
    color: #b4965b;
  }
  
  /* Modal overlay styling */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal content styling */
  .modal-content {
    background: #b7b4ec;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
  }
  
  .modal-content h2 {
    margin-top: 0;
  }
  


  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
   .form-group textarea{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
   
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-buttons button {
    padding: 8px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    color: #fff;

    background-color: #b4965b;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modal-buttons button:hover {
    background-color: #ffffff;
    color: #b4965b;
  }
  
  .report-message {
    text-align: center;
    font-style: italic;
    color: #333;
  }