/* client/src/pages/ReportBugPage.css */
.report-bug-container {
    height: 123vh;
    padding: 20px;
    background: #b4cbe0;
    border-radius: 8px;
    margin-bottom: 90px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .smaller-container{
    position: relative;
    padding: 15px;
    left:13.5%;
    width:75%;
    background: #b7b4ec;
    border: 1px solid #5a6e74;
    border-radius: 100px;
    height: 100%;
    
  }

  
  .report-bug-container h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #000000;
  }
  
  .report-bug-container p {
    text-align: center;
    margin: 10px 0;
  }
  
  .report-bug-form .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .report-bug-form label {
    text-align: center;
    left:50%;
    padding: 5px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .report-bug-form .required {
    color: red;
  }
  
  .report-bug-form textarea {
    resize: vertical;
    text-align: center;
    min-height: 80px;
    width:50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .report-bug-form input[type="text"],
  .report-bug-form input[type="datetime-local"],
  .report-bug-form input[type="file"] {
    text-align: center;
    margin-right: 15px;
    padding: 10px;
    width:50%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .report-bug-form .error {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
  .report-bug-form .success {
    color: green;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
  .submit-button {
    width: 50%;
    padding: 10px;
    color: #fff;
    background-color: #b4965b;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    left: 25%;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #ffffff;
    color: #b4965b;
  }
  