/* SearchPage.css */

/* Container styling for the whole search page */
.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: #b4cbe0;
  padding: 40px 20px;
  min-height: 100vh;
}

/* Heading styling for the search page */
.search-page h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

/* Search input field styling */
.search-page input[type="text"] {
  width: 80%;
  max-width: 500px;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* Search button styling */
.search-page button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #b4965b;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}

.search-page button:hover {
  color: #b4965b;
  background-color: #fff;
}

/* Container for the search results */
.search-page .search-results {
  width: 100%;
  max-width: 600px;
  background: #b7b4ec;
  border: 1px solid #5a6e74;
  text-decoration: none;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for individual result items */
.search-page .search-results div {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
}

/* Remove border from the last search result */
.search-page .search-results div:last-child {
  border-bottom: none;
}


/* Message styling when there are no results */
.search-page .search-results p {
  text-align: center;
  font-style: italic;
  color: #272727;
}
